{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="loginbox">
            <h1>Login Here</h1>
            <form action="{% url 'accounts:login' %}" method="POST">
              {% csrf_token %}
                <p>Username</p>
                <!--
                <input type="text" name="" placeholder="Enter Username">
                -->
                {{ form.username }}
                <p>Password</p>
                <!--
                <input type="password" name="" placeholder="Enter Password">
                -->
                {{ form.password }}
                {% if request.GET.next %}
                  <input type="hidden" name="next" value="{{ request.GET.next }}">
                {% endif %}
                <input type="submit" name="" value="Login">
                <a href="{% url 'accounts:signup' %}">Don't have an account?</a>

            </form>
        </div>
{% endblock %}
