{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="loginbox" style="height: 780px; width: 500px">
            <h1>Signup</h1>
    <form class="site-form" method="POST" action=".">
        {% csrf_token %}
                {{ form.as_p }}
                <br /><br />
                <input type="submit" value="Singup">

            </form>
    <a href="{% url 'accounts:login' %}">Already have an account? Sign in</a>
        </div>
{% endblock %}
