{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %}Edycja reklamy{% endblock %}

{% block content %}
    <div class="loginbox" style="height: 780px; width: 500px">

        {% if messages %}
            <ul>
                {% for message in messages %}
                    <li class="{{ message.tags }}">
                        {{ message|safe }}
                        <a href="#" class="close">✖</a>
                    </li>
                {% endfor %}
            </ul>

        {% endif %}
        <h1>Edycja reklamy</h1>
        <form action="" method="post" enctype="multipart/form-data">
            {{ edit_form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Zapisz zmiany"></p>
        </form>
    </div>

{% endblock %}
