{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %} Profil {% endblock %}

{% block content %}<br /><br /><br />
    <div class="container rounded" style="margin-top: 100px; background: #ffff; opacity: 0.95"><br />
      <div class="row">
        <div class="col-sm">
        <h1>Witaj : {{ user }}</h1>
        <h2 style="text-align: center">Informacje o reklamie: {{ adv.title }}</h2>

        <p>Status reklamy:{% if adv.status == 'active' %}
              <b><span class="badge badge-success">{{ adv.status }}</span></b> </br>{% else %}
              <b><span class="badge badge-secondary">{{ adv.status }}</span></b> </br>{% endif %}
        <p>Liczba użytkowników korzystających z reflinka: <b><span class="badge badge-light">{{ adv.adver.count }}</span></b></p>
        <p>Wartość akcji: <b>{{ adv.action_value }}</b></p>
        <p>Link do strony: <b>{{ adv.page_url }}</b></p>
        <button><a href="{% url 'accounts:adv_edit' id=adv.pk %}">Edytuj</a></button><br/><br/>
        </div>
        <div class="col-sm"><br/>
        <p><img src="{{ adv.img.url }}" class="img-thumbnail rounded float-right" width="230"></p>
        </div>
      </div>
    </div>
{% endblock %}
