{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %} Profil {% endblock %}

{% block content %}
    <div class="container rounded" style="margin-top: 100px; background: #ffff; opacity: 0.95">
      <div class="row">
        <div class="col-sm">
        <h2>Witaj : {{ user }}</h2></br></br>
        <h2 style="text-align: center">Twoje reklamy:</h2>
        {% for adv in ads %}
        <div class="alert alert-info" role="alert">
          <b><h2><a href="{% url 'accounts:advertisement_detail' id=adv.pk %}">{{ adv }}</a></h2> </b> status:{% if adv.status == 'active' %}
                <b><span class="badge badge-success">{{ adv.status }}</span></b> </br>{% else %}
                <b><span class="badge badge-secondary">{{ adv.status }}</span></b> </br>{% endif %}
                liczba użytkowników korzystających z
                reflinka: <span class="badge badge-light">{{ adv.adver.count }}</span>
        </div>
        {% endfor %}

        </div>
        <div class="col-sm">
        <h2>Balans : {{ user_profile.balance }} </h2></h2></br></br>
        <h2>Aktualnie przekierowania:</h2>
        {% for tr in transaction %}
        <div class="alert alert-primary" role="alert">
            <p>Tytuł : {{ tr.advertisement_id.title }}</p>
            Link do strony : {{ tr.url_link }}</br>
            Liczba przekierowań :{{ tr.numbers_of_click }}</div>
        {% endfor %}
        </div>
      </div>
    </div>
{% endblock %}
