{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title %} Login {% endblock %}

{% block content %}
<div class="loginbox" style="height: 780px; width: 500px">
            <h1>Add a advertisement</h1>
            <form class="site-form" method="POST" action="{% url 'ads:add_advertisement' %}" enctype="multipart/form-data">
              {% csrf_token %}
                {{ form.as_p }}
                <br /><br />
                <input type="submit" name="submit" value="Create Advertisement">
            </form>
        </div>
{% endblock %}
