{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block title_block %}
    Advertisement detail
{% endblock %}

{% block content %}
    <div class="container rounded" style="margin-top: 100px; background: #ffff; opacity: 0.95"><br />
      <div class="advertisement">
        <p>Dodane przez: {{ adv.owner.username }}</p>
        <p><img src="{{ adv.img.url }}" width="500"></p>
        <p><div class="p-3 mb-2 bg-primary text-white rounded" role="alert">Adres URL : {{ adv.page_url }}</div></p>
        <p><div class="p-3 mb-2 bg-info text-white rounded" role="alert">Wartość akcji : {{ adv.action_value }}</div></p>
    </div>

    <button><a href="{% url 'ads:create_transaction' adv.pk %}">Generuj reflink</a></button><br /><br />
</div>

{% endblock %}
