{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}

{% block title_block %}
    Advertisement list
{% endblock %}

{% block content %}
    <br /><br /><br />
    {% for adv in ads %}
    {% if adv.status == 'inactive' %}
    {% else %}
        <div class="container bg-secondary text-white rounded"><br />
              <div class="row">
          <div class="col-4">
            <p><img src="{{ adv.img.url }}" class="img-thumbnail rounded float-left" width="230"></p>
          </div>
          <div class="col-8">
            <h3>
                Tytuł: {{ adv.title }} <a class="btn btn-primary" href="{% url 'ads:detail' adv.pk %}" role="button">Dodaj</a>
            </h3>
            <div class="p-3 mb-2 bg-info text-white rounded" role="alert">
            Wartość akcji: {{ adv.action_value}}
            </div>

            <p>Właściciel: {{ adv.owner.username }}</p>
          </div>
        </div>
        <br />
      </div>
      <br /><br />
    {% endif %}
    {% endfor %}



{% endblock %}
