{% extends 'base.html' %}
{% load static from staticfiles %}
{% block cssblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block title_block %}
Witajcie
{% endblock %}

{% block content %}
    <div class="container rounded" style="margin-top: 100px; background: #ffff; opacity: 0.95"><br />
      <h1> Strona tworzona z pasją dla reklamodawców i reklamobiorców.</h1><br/><br/>
      <p> Nasza strona umożliwia zarządzanie reklamami wyświetlanymi na Państwa stronach w indywidualnie kontrolowany sposób.</p>
      <ul>
        <li>jasne i czytelne opłaty za akcję, bez zbędnych informacji,<br/><img src="{% static 'przyklad.jpg' %}"></li><br/>
        <li>minimalistycznie zaprojektowane UI pozwala szybkie zarządzanie reklamami,<br/><img src="{% static 'przyklad2.jpg' %}" width="1000"></li>
        <li>oraz wiele innych innowacyjnych, nowoczesnych i autorskich rozwiązań. </li><br/>
      </ul>
    </div> <!-- /container -->
{% endblock %}
